<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<!-- 日志文件  appender定义 -->
	<appender name="LOGFILE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${log.output}/logs/PublicSentiment-info.log" />
		 <param name="maxBackupIndex" value="5" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[QC] %d %p [%t] %C.%M(%L) | %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="INFO" />
			<param name="LevelMax" value="INFO" />
		</filter>
	</appender>
	<!-- 错误日志文件  -->
	<appender name="LOGFILE-ERROR" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${log.output}/logs/PublicSentiment-error.log" />
		 <param name="maxBackupIndex" value="5" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[QC] %d %p [%t] %C.%M(%L) | %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="WARN" />
			<param name="LevelMax" value="ERROR" />
		</filter>
	</appender>

	<!-- 屏幕输出appender定义 -->
	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
	    <param name="Threshold" value="INFO"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[QC] %d %p [%t] %C.%M(%L) | %m%n" />
		</layout>
	</appender>

	<!-- 业务信息级别  -->
	<logger name="com.sohu.smc.spider" additivity="false">
		<level value="INFO" />
<!--         <appender-ref ref="STDOUT"/> -->
        <appender-ref ref="LOGFILE"/>
        <appender-ref ref="LOGFILE-ERROR" />
	</logger>


<!-- 整体默认为INFO级别  -->
	<root>
		<level value="INFO" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="LOGFILE" />
		<appender-ref ref="LOGFILE-ERROR" />
	</root>
</log4j:configuration>
